@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500;700&display=swap');

.header {
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.logout-button {
    position: fixed;
    top: 13px;
    right: 15px;
    margin-left: 0px;
    line-height: 1.5;
    font-size: 22px;
}

.invisible {
	display: none;
}