
.icon-basket-alt:before { content: '\e800'; } /* '' */
.icon-plus-circle:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e804'; } /* '' */
.icon-logout-1:before { content: '\e806'; } /* '' */